python-dotenv==1.0.0
pymongo[srv]
streamlit

## LLMs / embeddings
openai
llama-index
transformers
torch
sentence_transformers
llama-cpp-python
llama-index
replicate
llama-index-llms-huggingface
llama-index-embeddings-huggingface
llama-index-vector-stores-mongodb
llama_index.llms.replicate
llama-index-llms-llama-api

## PDF handling
PyPDF2
pypdf

## Utils
ipykernel
ipython
chardet==5.2.0
charset-normalizer==3.3.2
